/* App Component */
.App {
	font-family: 'Work Sans', sans-serif;
	color: #ececff;
	text-align: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 100vh;
	position: relative;
	overflow: hidden;
}

h1 {
	font-weight: 500;
	margin-bottom: 0.1em;
}

h3 {
	font-weight: 400;
}

.start-button,
.check-answers {
	font-family: 'Work Sans', sans-serif;
	padding: 1em 4em;
	border: none;
	border-radius: 10px;
	background-color: #91A3DC;
	font-size: 1em;
	font-weight: 500;
	margin: 2em;
	transition: 0.3s;
}

.start-button:hover,
.check-answers:hover {
	filter: drop-shadow(0 0 0.55rem #6882d7);
	background-color: #8fa5ee;
}

.blob1 {
	position: fixed;
	left: -12%;
	top: 75%;
	fill: #e7e5ccef;
	width: 25em;
	height: 25em;
	z-index: -1;
}

.blob2 {
	position: fixed;
	left: 90%;
	top: -15%;
	fill: #fbd5c5ef;
	width: 25em;
	height: 25em;
	z-index: -1;
}

/* App Component */

/* Quiz Component */

h2 {
	font-weight: 500;
	text-align: left;
	margin-bottom: 0.5em;

}

.quiz-main {
	/*center the div in middle of screen*/
	top: 55%;
	left: 50%;
	transform: translate(-50%, -50%);
	position: absolute;
	padding-top: 1em;
}

.quiz {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}

.quiz h1 {
	margin-bottom: 1.5em;
	text-align: center;
}

.quiz h2 {
	margin-bottom: 1em;
}

.options {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	margin-top: 1em;
}

.label {
	display: block;
	cursor: pointer;
	font-family: 'Work Sans', sans-serif;
	margin: 0.2em;
	padding: 0.5em 1.5em;
	border-radius: 25px;
	background-color: #16161D;
	font-weight: 400;
	color: #ececff;
	transition: 0.3s;
	font-size: 1em;
	border: 1px solid #ececff;
}

.correct {
	font-family: 'Work Sans', sans-serif;
	margin: 0.2em;
	padding: 0.5em 1.5em;
	border-radius: 25px;
	background-color: #6aad8c !important;
	font-weight: 400;
	color: #ececff;
	transition: 0.3s;
	font-size: 1em;
	border: 1px solid #ececff;
	filter: drop-shadow(0 0 0.55rem #6aad8c) !important;
}

.incorrect {
	font-family: 'Work Sans', sans-serif;
	margin: 0.2em;
	padding: 0.5em 1.5em;
	border-radius: 25px;
	background-color: red !important;
	font-weight: 400;
	color: #ececff;
	transition: 0.3s;
	font-size: 1em;
	border: 1px solid #ececff;
	filter: drop-shadow(0 0 0.55rem #a70e0e) !important;
}

.options label:hover {
	filter: drop-shadow(0 0 0.55rem #6882d7);
	background-color: #d6dffd;
	color: #16161D;
	border: 1px solid #d6dffd;
}

.options input:checked~label {
	filter: drop-shadow(0 0 0.55rem #6882d7);
	background-color: #d6dffd;
	color: #16161D;
	border: 1px solid #d6dffd;
}

input[type="radio"] {
	display: none;
}


hr {
	border-width: 0 0 1px 0;
	margin-top: 1.5em;
}

.result-section {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	gap: 100px;
}

.result {
	display: flex;
	flex-direction: column;
	align-items: center;
	font-size: 1.5em;
	font-weight: 500;
	text-shadow: 0 0 0.5rem #6882d7;
}

.result-winner {
	display: flex;
	flex-direction: column;
	align-items: center;
	font-size: 1.5em;
	font-weight: 500;
	text-shadow: 0 0 0.5rem #6882d7;
	animation: glow 1s ease-in-out infinite alternate
}

@keyframes glow {
	0% {
		text-shadow: 0 0 0.5rem #d76886;
	}

	50% {
		text-shadow: 0 0 1rem #6882d7;
	}

	100% {
		text-shadow: 0 0 0.5rem #b73220;
	}
}



/* Quiz Component */

/* Footer Component */
footer {
	position: fixed;
	bottom: 0;
	width: 20em;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	background-color: aliceblue;
	border: none;
	border-radius: 10px;
	color: #351600;
	font-size: 1em;
	margin-bottom: 1em;
}


footer div {
	display: flex;
	flex-direction: column;
}

footer p {
	padding: 0.2em 0;
	margin: 0;
}

footer a {
	text-decoration: none;
	padding: 0.2em 0;
}

footer a:hover {
	filter: grayscale(80%);
}

/* Footer Component */


/* Media Queries For Responsiveness */

@media only screen and (max-width: 1200px) {

	.App {
		overflow: auto;
		font-size: 0.9em;
	}

	.quiz-main {
		width: 80vw;
		top: 65%;
		height: 120vh;
		text-align: left;
	}

	.quiz {
		min-height: 50vh;
	}

	.blob1 {
		left: -17%;
		top: 82%;
		width: 20em;
		height: 20em;
		position: fixed;
	}

	.blob2 {
		left: 79%;
		top: -10%;
		width: 20em;
		height: 20em;
		position: fixed;
	}

	footer {
		margin-top: 2em;
		position: fixed;
	}

	.options {
		flex-direction: row;
		flex-wrap: wrap;
		gap: 1em;
		margin: 0.5em 0.5em 0.5em 0.5em;
	}
}

@media only screen and (max-width: 768px) {

	.App {
		overflow: visible;

	}

	.welcomePage {
		text-align: center;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		height: 90vh;
		overflow: hidden;
	}

	.quiz-main {
		width: 100vw;
		height: 177vh;
		top: 85%;
	}

	.quiz {
		font-size: 0.9em;
		margin: 4em 2em 2em 2em;


	}

	.questions {
		text-align: left;
		padding: 0.5em 0.5em 0.5em 0.5em;

	}

	.options {
		flex-wrap: wrap;

	}


	.blob1 {
		left: -40%;
		top: 75%;
		width: 20em;
		height: 20em;
	}

	.blob2 {
		left: 70%;
		top: -12%;
		width: 20em;
		height: 20em;
	}

	footer {
		position: fixed;
	}
}

@media only screen and (max-width: 390px) {
	.quiz-main {
		top: 105%;
	}

	.quiz h2 {
		margin-bottom: 0;
	}

	footer {
		position: fixed;
	}
}