/* App Component */
.App {
	font-family: 'Work Sans', sans-serif;
	color: #ececff;
	text-align: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 100vh;
	position: relative;
	overflow: hidden;
}

h1 {
	font-weight: 500;
	margin-bottom: 0.1em;
}

h3 {
	font-weight: 400;
}

.start-button, .check-answers {
	font-family: 'Work Sans', sans-serif;
	padding: 1em 4em;
	border: none;
	border-radius: 10px;
	background-color: #91A3DC;
	font-size: 1em;
	font-weight: 500;
	margin: 2em;
	transition: 0.3s;
}

.start-button:hover, .check-answers:hover {
	filter: drop-shadow(0 0 0.55rem #6882d7);
	background-color: #8fa5ee;
}

.blob1 {
	position: absolute;
	left: -17%;
	top: 75%;
	fill: #e7e5ccef;
}

.blob2 {
	position: absolute;
	left: 80%;
	top: -15%;
	fill: #fbd5c5ef;
}
/* App Component */

/* Quiz Component */

h2 {
	font-weight: 500;
}

.options button {
	font-family: 'Work Sans', sans-serif;
	margin: 0.2em;
	padding: 0.5em 1.5em;
	border-radius: 25px;
	background-color: #16161D;
	font-weight: 400;
	color: #ececff;
	transition: 0.3s;
	font-size: 1em;
	border: 1px solid #ececff;
}

.options button:hover {
	filter: drop-shadow(0 0 0.55rem #6882d7);
	background-color: #d6dffd;
	color: #16161D;
	border: 1px solid #d6dffd;
}

hr {
	border-width: 0 0 1px 0;
	margin-top: 1.5em;
}

/* Quiz Component */

/* Footer Component */
footer {
	position: absolute;
	text-align: center;
	font-size: 1em;
	color: #351600;
	background-color: aliceblue;
	border: none;
	border-radius: 10px;
	width: 20em;
	top: 92%;
}

footer p {
	padding: 0.7em 0;
	margin: 0;
}

footer a {
	text-decoration: none;
	color: #3da2e0;
}

footer a:hover {
	filter: grayscale(80%);
}

/* Footer Component */


/* Media Queries For Responsiveness */

@media only screen and (max-width: 768px) {
	/* .App {
		margin: 0;
	} */

	.blob1 {
		left: -47%;
		top: 75%;
	}
	
	.blob2 {
		left: 60%;
		top: -22%;
	}
}